$background-color1: #b0bec5;
$background-color2: #90a4ae;
$background-color3: #607d8b;

$background-color4: #009688;

$shadow-color: #37474f;

$font-color1: #cfd8dc;

main {
    width: 100%;
    min-height: 100vh;
    background: $background-color1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        background: $background-color2;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        border-radius: 3rem;
        padding: 2rem;
        box-shadow: .5rem .5rem 1rem $shadow-color;

        input[type="text"] {
            border: none;
            outline: none;
            background: $background-color3;
            margin: 1rem;
            padding: 0.5rem;
            border-radius: 1rem;
            text-align: center;
            font-size: 1.2rem;
            box-shadow: 0.2rem 0.2rem 0.5rem $shadow-color;

            &::placeholder {
                color: $font-color1;
                text-align: center;
                font-style: italic;
            }
        }

        .action {
            button {
                outline: none;
                border: none;
                background: $background-color4;
                padding: 0.5rem;
                margin: 1rem;
                font-size: 1.2rem;
                border-radius: 0.5rem;
                box-shadow: 0.2rem 0.2rem 0.5rem $shadow-color;
                transition: all 0.3s ease-in-out;
    
                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
        }
    }

    .content {
        background: $background-color2;
        border-radius: 3rem;
        padding: 2rem;
        box-shadow: .5rem .5rem 1rem $shadow-color;
        margin-top: 1rem;
        min-width: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            margin: 0.5rem;
        }

        &__list {
            list-style: none;

            li {
                padding: 0.3rem;
                font-style: italic;
                color: $font-color1;
            }
        }
    }
}
